@media (min-width: 900px){
    
    .rules_block{
        max-width: 24vw;
        min-height: 24vh;
        padding: 2vh 2vw;
        border: 1.5px solid var(--stroke-clr);
        border-radius: 20px;
        margin: 2vh 3vw;
        text-align: center;

        h2{
            font-size: 120%;
            font-weight: 700;
            margin-bottom: 1vh;
        }
        
        p{
            font-size: 100%;
        }
    }

    .column_events{
        max-width: 20vw;
    }

    .block_for_pick {
        min-width: 14vw;
        height: auto;
        margin: 1vh 1vw;

        h2{
            font-size: 120%;
            font-weight: 700;
        }

        button{
            width: 100%;
            height: 100%;
            display: block;
            border: 1.5px solid var(--foreground-clr);
            border-radius: 20px;
            padding: 0.5vh 0.5vw;
            font-size: 100%;
            font-weight: 700;
            margin: 0 auto;
            color: var(--foreground-clr);
            background-color: var(--background-clr);

            &:hover {
                transition: 0.5s;
                color: var(--background-clr);
                border: 1.5px solid var(--selected-clr);
                background-color: var(--selected-clr);
            }
        }
    }

    .block_picked {
        min-width: 14vw;
        height: auto;
        margin: 1vh 1vw;

        h2{
            font-size: 120%;
            font-weight: 700;
        }

        button{
            width: 100%;
            height: 100%;
            display: block;
            border: 1.5px solid var(--selected-clr);
            border-radius: 20px;
            padding: 0.5vh 0.5vw;
            font-size: 100%;
            font-weight: 700;
            margin: 0 auto;
            color: var(--background-clr);
            background-color: var(--selected-clr);
        }
    }

    .big_event_block {
        max-width: 24vw;
        min-height: 8vh;
        padding: 2vh 2vw;
        border: 1.5px solid var(--stroke-clr);
        border-radius: 20px;
        margin: 2vh 3vw;
        text-align: center;

        h2 {
            font-size: 120%;
            font-weight: 700;
        }

        h3 {
            font-size: 120%;
            font-weight: 600;
        }
    }

    .finish_block_gr {
        @extend .big_event_block;
        background-color: var(--green-clr);
    }

    .finish_block_ye {
        @extend .big_event_block;
        background-color: var(--yellow-clr);
    }

    .finish_block_re {
        @extend .big_event_block;
        background-color: var(--red-clr);
    }

    .save_block {
        width: auto;
        height: auto;
        // margin: 2vh 6vw;

        button{
            width: 12vw;
            min-height: 6vh;
            display: block;
            border: 1.5px solid var(--foreground-clr);
            border-radius: 20px;
            font-size: 100%;
            font-weight: 700;
            margin: 0 auto;
            color: var(--background-clr);
            background-color: var(--foreground-clr);

            &:hover {
                transition: 0.5s;
                color: var(--foreground-clr);
                border: 1.5px solid var(--foreground-clr);
                background-color: var(--background-clr);
            }
        }
    }

    .save_block_final{
        display: none;
    }
    
    .tests_table {
        max-width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .page_text {
        margin: 4vh 0 4vh 4vw;

        h1{
            font-size: 180%;
            font-weight: 700;
        }

        h2{
            font-size: 120%;
        }
    }

    .right_block{
        margin-left: 2vw;
        max-width: 40vw;
    }

    .left_block{
        margin-right: 2vw;
        max-width: 30vw;
    }
}